name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install astyle cmake gcc ninja-build build-essential libssl-dev python3-pytest python3-pytest-xdist unzip xsltproc doxygen graphviz python3-yaml

      - name: Download and build and liboqs-python
        run: |
          git clone --depth=1 https://github.com/open-quantum-safe/liboqs-python
          cd liboqs-python
          pip install .
          cd ..
          rm -rf liboqs-python
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest coveralls

      - name: Run tests
        run: PYTHONPATH=. pytest --cov=core --cov-report=xml

      - name: Upload to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: coveralls --service=github
